img{
    position: relative;
    height:855px;
    width:1265px;
   
}
h2{
    position:absolute;
    top:200px;
    left:650px;
    width:600px;
    
}
h1{
    position:absolute;
    top: 10px;
    left:450px;
    display: block;
    border:1px solid white;
    border-radius: 5px;
    padding: 5px;
    
}
h1 span{
    color:black;
    font:sans-serif;

}

a{
    color:white;
    text-decoration: none;
}
a:hover {
    color: black;
}

h2 span{
    color:white;
    font: sans-serif;
    font-size: 30px;
    background: rgba(0,0,0,0.4);
    
}

}
h2 span.spacer {
    padding: 0 5px;
}