body {
    font-family:serif;
    margin: 0px;
}

.article{
    
    text-align: center;
    width:60px;
    margin:0px;
    margin-top: 15px;
    padding-bottom: 3px;
}

.backpacker{
    font-family:serif;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
    
    
}
.content{
     width:920px;
    margin: 0px;
}

img{
    
    width;1280px;
    height:630px;
    opacity:0.6;
     
}

.items{
    margin:auto;
    width:990px;
    color:black;
}
.items li{
    display: inline;
    list-style-type: none;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    
    
}
.search{
    
    margin-left:20px;
    margin-right: 130px;
    width:60px;
    font-size: 16px;
    float:right;
    color: white;
    
}

.log{
    margin-left: 10px;
 
    float:right;
   
}
a{
    color:black;
    text-decoration: none;
}

.photo-box{
    width:350px;
    height:300px;
    background-size:cover;
    float:left;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    padding: auto;
    
   

}
.photo{
    margin: auto;
    width:1100px;
    
}
.photo1 {
    background: transparent url("1.jpg") no-repeat center;
    background-size: cover;
  
}

.photo2 {
    background: transparent url("2.jpeg") no-repeat center;
        background-size: cover;
}
.photo3 {
    background: transparent url("3.jpeg") no-repeat center;
    background-size: cover;
}
.photo4 {
    background: transparent url("4.jpeg") no-repeat center;
    background-size: cover;
}
.photo5 {
    background: transparent url("5.jpeg") no-repeat center;
    background-size: cover;
}
.photo6 {
    background: transparent url("6.jpeg") no-repeat center;
    background-size: cover;
}

h1{
    position:absolute;
    top: 10px;
    left:450px;
    display: block;
    
    padding: 5px;
    
}
h1 span{
    color:black;
    font:sans-serif;

}

a{
    color:white;
    text-decoration: none;
}
a:hover {
    color: black;
}

h2 span{
    color:white;
    font: sans-serif;
    font-size: 30px;
    background: rgba(0,0,0,0.4);