body {
    font-family:serif;
    background: white;
}

.search{
    border: 1px solid;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 500px;
    width:200px;
    height:20px;
    font-size: 18px;
    
    
}

.log{
    float:right;
    margin-top: 0px;
}
.content {
    width: 400px;
    margin: 0 auto;
     overflow: auto;
    text-align: center;
    
}

img{
    display: block;
    margin:auto;
    padding:30px;
}

.items li{
    display: inline;
    list-style-type: none;
    font-size: 18px;
    padding: 75px;
    text-align: center;
}


section div{
    float:left;
    margin:auto;
}

